$color-body-bg: #0d1117;
$color-dark: #010409;
$color-accent-red: #bf616a;
$color-accent-gold: #c99e47;
$color-text-primary: #fff;
$color-text-secondary: whitesmoke;
$color-text-dark: rgba($color-text-primary, .3);
$color-text-accent: #73b6f3;