@import "../../global/styles/baseUI.scss";

.btn {
    position: relative;
    padding: 1rem 1.5rem;
    border-radius: .75rem;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0 0 1rem 0 rgba($color-accent-blue, .3);
    text-shadow: 0 0 0.5rem rgba(#000, 0.5);
    color: #fff;
    display: inline-block;

    &:hover {

        .btnBg.animate {
            width: 0;
        }
    }
}

.btnBg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #01788a;
    transition: all .2s;
}

.text {
    position: relative;
}