@import "../../../global/styles/baseUI.scss";

.projectCard {
    max-width: 35rem;
    padding: .6rem 1rem 1rem 1rem;
    border: 2px solid rgba($color-text-primary, .1);
    border-radius: .5rem;
    background-color: $color-body-bg;
    color: rgba($color-text-primary, .5);
    transition: top 1s, transform, 1s, opacity, .5s;
    touch-action: none;
    
    &.glow {
        box-shadow: 0 0 4rem 0 rgba($color-text-accent, .3);
    }
}

.projectInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: .8rem;

    .projectName {
        color: $color-accent-gold;
        font-weight: 700;
    }

    .commits {

    }
}

.content {
    background-color: rgba($color-dark, .7);
    border: 2px solid $color-dark;
    border-radius: .5rem;

    .description {
        padding: 1rem;
        line-height: 1.5rem;

        &.hidden {
            color: rgba(0, 0, 0, 0);
        }
    }

    .projectLink,
    .repoLink {
        display: block;
        padding: .1rem 1rem;
        color: #000;
        font-weight: 500;
        transition: all .2s;
    }

    .projectLink {
        margin-bottom: 1rem;
        background-color: rgba($color-accent-gold, .8);
        
        &:hover {
            background-color: rgba($color-accent-gold, 1);
        }
    }

    .repoLink {
        background-color: rgba($color-accent-red, .8);
        margin-bottom: 1rem;
        margin-top: 1rem;
        
        &:hover {
            background-color: rgba($color-accent-red, 1);
        }
    }
}