@import "../../global/styles/baseUI.scss";

.mainFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgba($color-text-primary, .1);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3rem;
    font-size: 1rem;
    color: rgba($color-text-primary, .5);
    background-color: $color-body-bg;
    z-index: 99999999;
}

.socialText,
.date {
    padding: 0 1rem;
}

.leftContent {
    display: flex;
    height: 100%;
    align-items: center;

    >div {
        height: 100%;
    }
    
    .socialText {

        @include screenTiny {
            display: none;
        }
    }

    .socialIconWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        border-left: 2px solid rgba($color-text-primary, .1);
        width: 3rem;
        transition: all .2s;
        cursor: pointer;

        &:last-child {
            border-right: 2px solid rgba($color-text-primary, .1);
        }

        &:nth-child(2) {
            @include screenTiny {
                border-left: none;
            }
        }

        &:hover {
            background-color: #2d333c;
        }

        .socialIcon {

        }
    }
}

.date {

}