@import "../../global/styles/baseUI.scss";

.mainFooter {

}

.topSpacer,
.contentWrapper {
    padding-top: 11rem;

    @include screenMobile() {
        padding-top: 9.5rem;
    }
}

.contentWrapper {
    position: relative;
    width: $content-width;
    max-width: $content-max-width;
    margin: 0 auto;
}

.topSpacer {

}

.bottomWrapper {
    background-color: $color-body-bg-dark;
}

.contactBlock {
    background-color: #434657;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-radius: 2rem;
    overflow: hidden;
    transform: translateY(-50%);

    .bgHeading {
        right: -2rem;
        top: auto;
        bottom: 2rem;

        @include screenMedium() {
            right: 0;
        }

        @include screenMobile() {
            display: none;
        }

        h2 {

            @include screenLarge() {
                font-size: 11rem;
            }
    
            @include screenMedium() {
                font-size: 16vw;
            }
        }
    }

    .content {
        max-width: 45rem;
        padding: 2rem;
    }

    .heading {
        @include headingFont();
    }

    .blurb {
        @include blurbFont();
        margin: 1rem 0 4rem 0;

        @include screenMobile() {
            margin-bottom: 2rem;
        }
    }

    .contactBtn {

    }
}

.bottomContent {
    padding: 3rem 0 2rem 0;

    .linksWrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .link {
            margin-bottom: 1rem;
        }
    }

    .divider {
        margin: 3rem auto 4rem auto;
        width: 90%;
        max-width: 50rem;
        height: 2px;
        background-color: #434657;
        opacity: .6;

        @include screenMobile() {
            margin: 1rem auto 2rem auto;
        }
    }

    .copyright {
        font-size: 1.2rem;
        text-align: center;
        color: rgba($color-primary, .4);        
    }
}