@import "../../../../global/styles/baseUI.scss";

@mixin ProjectShadow($width, $opacity) {
    box-shadow: 0 0 $width 0 rgba(0, 0, 0, $opacity);
}

.sectionHeading {
    top: 0;

    @include screenMedium() {
        h2 {
            font-size: 15vw;
        }
    }

    @include screenMobile() {
        top: -3rem;
    }

    @include screenTiny() {
        top: 0;
    }
}

.sectionContent {
    position: relative;
    width: $content-width;
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 14rem 0 0 0;

    @include screenMobile() {
        padding: 11rem 0 0 0;
    }

    @include screenTiny() {
        padding: 10rem 0 0 0;
    }
}

.projectBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    position: relative;
    margin-bottom: 16rem;

    @include screenMobile() {
        max-width: 30rem;
        margin: 0 auto 7rem auto;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.reverse {
        flex-direction: row-reverse;

        .tiltedBg {
            transform: rotate(10deg);
        }
    }

    .textWrapper {
        width: 40%;

        @include screenMobile() {
            width: 100%;
            margin-top: 3rem;
        }

        .eyebrow {
            @include blurbFont();
            color: $color-accent-blue;
        }

        .title {
            @include headingFont();
        }

        .desc {
            @include blurbFont();
            margin-top: 1rem;
            line-height: 2rem;

            @include screenMobile() {
                margin-top: 0.5rem;
            }
        }

        .btnsWrapper {
            display: flex;
            flex-wrap: wrap;
            margin-top: 2rem;

            @include screenMobile() {
                margin-top: 0.5rem;
            }
            
            a {
                @include blurbFont();
                position: relative;
                margin-top: 1rem;
                color: rgba($color-primary, .8);
                white-space: nowrap;
                transition: color .2s;

                &:not(&:last-child) {
                    margin-right: 2rem;
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    right: 50%;
                    height: 2px;
                    background-color: $color-accent-blue;
                    transition: all .2s;
                }

                &:hover {
                    color: $color-primary;

                    &::after {
                        left: 0;
                        right: 0;
                    }
                }

                svg {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .imgWrapper {
        @include ProjectShadow(1rem, 0.75);
        position: relative;
        width: 50%;
        border-radius: 3rem;
        transition: all 0.3s;
        
        @include screenMobile() {
            width: calc(100% - 2rem);
            border-radius: 1.5rem;
            margin: 0 auto;
        }
        
        .tiltedBg,
        .projectImg {
            transition: all .3s;
        }
        
        .innerImgWrapper {
            border-radius: inherit;
            overflow: hidden;
        }
        
        .projectImg {
            cursor: pointer;
            position: relative;
            width: 100%;
            border-radius: inherit;
        }
    }
}

.tiltedBg {
    @include ProjectShadow(2rem, 0.5);
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2a7b90;
    transform: rotate(-10deg);
    pointer-events: none;
}

.imgWrapper:hover {
    @include ProjectShadow(2rem, 0.75);

    .tiltedBg {
        @include ProjectShadow(0, 0);
        transform: rotate(0deg);
    }
    
    .projectImg {
        @include ProjectShadow(3rem, 0.75);
        transform: scale(1.05);

    }
}