@import "../../../../global/styles/baseUI.scss";

.skills {
    position: relative;
    z-index: 2;
}

.sectionContent .sectionHeading {
    top: 3rem;
    right: 5rem;

    @include screenMedium() {
        top: 1rem;
        right: 0;
    }

    @include screenMobile() {
        top: 1rem;

        h2 {
            font-size: 21vw;
        }
    }

    @include screenTiny() {
        top: 2rem;
    }
}

.sectionContent {
    position: relative;
    width: $content-width;
    max-width: $content-max-width;
    margin: 0 auto;
    transition: padding-bottom 0.5s;
    
    &.top {
        padding-top: 20rem;

        @include screenMedium() {
            padding-top: 15rem;
        }
    
        @include screenMobile() {
            // padding-top: 17rem;
            padding-top: calc(21vw + 7rem);
        }
    
        @include screenTiny() {
        }
    }

    &.bottom {

    }

}

.blockAspectRatioWrapper {
    padding-top: 100%;

    @include screenTiny() {
        display: none;
    }
}

.floatingBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 8rem;
    background-color: #434657;
    border-radius: 2rem;
    transform: translateY(-50%);

    @include screenExtraLarge() {
        padding: 3rem 8rem;
    }

    @include screenLarge() {
        padding: 3rem 2rem 1rem 2rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @include screenMobile() {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 3rem 0;
    }

    .skillLogo {
        margin-right: 1rem;
        height: 4rem;

        @include screenExtraLarge() {
            height: 3rem;
        }

        @include screenLarge() {
            margin-bottom: 2rem;
        }

        @include screenMobile() {
            height: auto;
            max-width: 14rem;
            max-height: 4rem;
            
            &:last-child {
                margin-bottom: 0;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.skillsCarouselOuterContainer {
    display: flex;
    flex-direction: column;
}

.skillGroupSelector {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    overflow-x: auto;
    padding: 0 5vw;
    width: 100%;

    @include screenTiny() {
        justify-content: flex-start
    }

    .option {
        @include blurbFont();
        font-size: 2rem;
        position: relative;
        font-weight: bold;
        padding: 1rem 0 0.5rem 0;
        white-space: nowrap;

        @include screenMobile() {
            font-size: 1.5rem;
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            height: 4px;
        }
        
        &::after {
            bottom: 0;
            left: 50%;
            right: 50%;
            background-color: $color-accent-blue;
            opacity: 0;
            transition: left .2s, right .2s, opacity 0s .2s;
        }

        &::before {
            bottom: 1px;
            left: -1rem;
            right: -1rem;
            height: 2px;
            background-color: rgba(255, 255, 255, 0.15);
        }

        &:first-child::before {
            left: 0;
        }

        &:last-child::before {
            right: 0;
        }

        &:not(&:last-child) {
            margin-right: 2rem;
        }

        &.selected,
        &:hover {
            
            &::after {
                left: 0;
                right: 0;
                opacity: 1;
                /* two transitions are needed to ensure that content is 
                transpartent only after other transitions have finished */
                transition: all .2s;
            }
        }
    }
}

$skillImgWrapperMaxWidth: 65rem;

.skillsCarouselWrapper {
    display: flex;
    position: relative;
    max-width: $skillImgWrapperMaxWidth;
    width: 100%;
    transition: transform 0.5s;
    margin: 0 auto;
}

.skillImages {
    width: $skillImgWrapperMaxWidth;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    transition: opacity 0.5s;

    .imgWrapper {
        position: relative;
        margin: 0 1.5rem 2rem 1.5rem;

        @include screenMobile() {
            margin: 0 1.5rem 1.5rem 1.5rem;
        }

        @include screenTiny() {
            margin: 0 1rem 1rem 1rem;
        }

        img {
            max-height: 4rem;
            max-width: 100%;

            @include screenTiny() {
                max-height: 3rem;
            }
        }

        .imgTitleBox {
            @include blurbFont();
            position: absolute;
            background-color: $color-body-bg;
            pointer-events: none;
            padding: 0.5rem 1rem;
            white-space: nowrap;
            border-radius: 0.5rem;
            box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.5);
        }
    }
}