@import "./global/styles/baseUI.scss";

* {
    font-family: $primary-font;
    box-sizing: border-box;
}

body {
    background-color: $color-body-bg;
    color: $color-text-primary;

    &.scroll-lock {
        overflow: hidden;
    }

    &.medium-scroll-lock {

        @include screenMedium() {
            overflow: hidden;
        }
    }
}

html {
    scroll-behavior: smooth;
}