@import "./global/styles/baseUI.scss";

* {
    font-family: $primary-font;
    box-sizing: border-box;
}

body {
    background-color: $color-body-bg;
    color: $color-text-primary;

    &.scroll-lock {
        overflow: hidden;
    }

    &.medium-scroll-lock {

        @include screenMedium() {
            overflow: hidden;
        }
    }
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 1rem;

    @include screenMobile() {
        // width: initial;
    }
}

::-webkit-scrollbar-track {
    background-color: #38393e;

    @include screenMobile() {
        // background-color: initial;
    }
}

::-webkit-scrollbar-thumb {
    background-color: rgba(#5d5e62, .7);
    transition: all .2s;
    border-radius: 1rem;

    @include screenMobile() {
        // border-radius: unset;
        // background-color: unset;
    }
    
    &:hover {
        background-color: rgba(#5d5e62, 1);

        @include screenMobile() {
            // background-color: unset;
        }
    }
}